.splashScreen {
  background-image: url("../assets/images/welcomeScreeens/splashImage.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.text {
  color: red;
  font-size: 2rem;
  text-align: center;
  margin-top: 20%;
}